$spacer: 16px * $hd !default;

$spacers: (
  0: (
    $spacer * 0
  ),
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 1
  ),
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  )
) !default;

$positions: static, relative, absolute, fixed, sticky !default;
